In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
plt.style.use('seaborn')
import yfinance as yf

In [4]:
voo = yf.Ticker('VOO')

In [12]:
voo_df = voo.history(start='2016-11-19', end='2021-11-19', interval='1d')

In [13]:
voo_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-11-21,183.339916,184.187145,183.212376,184.150711,2641300,0.0,0
2016-11-22,184.551524,184.688170,183.813612,184.487747,2773400,0.0,0
2016-11-23,184.150708,184.669988,183.813640,184.651764,1466300,0.0,0
2016-11-25,185.007089,185.389709,184.897772,185.389709,1843100,0.0,0
2016-11-28,184.997937,185.271227,184.342012,184.515091,2193000,0.0,0